/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.person-list {width: 75%;}
.person-list .btn {font-family: consolas;}
.success-msg, .error-msg {font-weight: bold; font-size: 1.2em; padding: 6px; }
.error-msg {color: red; background-color: lightgoldenrodyellow;}
